<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'first_app/style/index.css' %}">
  </head>
  <body>


    <div class="options">
      <h1>Add Book</h1>
      <form class="" action="{% url 'books:create' %}" method="post">
        {% csrf_token %}
        <p>Title <input type="text" name="title" value=""></p>
        <select class="" name="author_id">
          {% for author in all_authors %}
            <option value="{{ author.id }}">{{ author.name }}</option>
          {% endfor %}
        </select>
        <p><input type="submit" name="" value="Add Book"></p>
      </form>
      <h1>All Books</h1>
      <ul>

        {% for book in all_books %}
          <li>{{ book.title }} written by {{ book.author.name }}</li>
          <ul>
            {% for publisher in book.published_by.all %}
              <li>{{ publisher.name }}</li>
            {% endfor %}
          </ul>
        {% endfor %}
      </ul>
    </div><!-- end_of_options -->



    <div class="options">
      <h1>Add Author</h1>
      <form class="" action="{% url 'authors:create' %}" method="post">
        {% csrf_token %}
        <p>Name <input type="text" name="name" value=""></p>
        <p>Description <input type="text" name="content" value=""></p>
        <p><input type="submit" name="" value="Add author"></p>
      </form>
      <h1>All Authors</h1>
      <ul>
      {% for author in all_authors %}

        <li>{{ author.name }} has a description of {{ author.authors_desc.content }}</li>
          <ul>
            {% for book in author.wrote_by.all %}
              <li>{{ book.title }}</li>
              <ul>
                {% for publisher in book.published_by.all %}
                  <li>{{ publisher.name }}</li>
                {% endfor %}
              </ul>
            {% endfor %}
          </ul>

      {% endfor %}
    </ul>
    </div><!-- end_of_options -->



    <div class="options">
      <h1>Add Publisher</h1>
      <form class="" action="{% url 'books:add_publisher' %}" method="post">
        {% csrf_token %}
        <p><input type="text" name="name" value=""></p>
        <p><input type="submit" name="" value="Add publisher"></p>
      </form>
      <h1>All Publishers</h1>
      {% for publisher in all_publishers %}
        <ul>
          <li>{{ publisher.name }}</li>
          <ul>
            {% for book in publisher.books.all %}
              <li>{{ book.title }} written by {{ book.author.name }} who has a Description of : {{ book.author.authors_desc.content }}</li>
            {% endfor %}
          </ul>
        </ul>
      {% endfor %}
    </div><!-- end_of_options -->



    <div class="options">
      <h1>Add publisher to book</h1>
      <form class="" action="{% url 'books:add_book_to_publisher' %}" method="post">
        {% csrf_token %}
        <p>Book:</p>
        <select class="" name="book_id">
          {% for book in all_books %}
          <option value="{{ book.id }}">{{ book.title }}</option>
          {% endfor %}
        </select>
        <p>Publisher:</p>
        <select class="" name="publisher_id">
          {% for publisher in all_publishers %}
          <option value="{{ publisher.id }}">{{ publisher.name }}</option>
          {% endfor %}
        </select>
        <p><input type="submit" name="" value="Add publisher to book"></p>
      </form>
    </div><!-- end_of_options -->



    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
  </body>
</html>
